extends ../layout

block body
  .panel
    .header
      span.topic_full_title
        | 《Node.js实战》求188、189页内容
      .changes
        span
          | 发布于 5 小时前
        span
          | 70 次浏览
    .inner.topic
      .topic_content
        .markdown-text
          p
            | 一个月前JD买的书，刚发现188页189页被油浸过一样完全看不清。
            br
            | 正看的过瘾呢，不想换了太麻烦。
          p 求好心人发张188页189页的图片给我吧(szmtcjm@126.com)，非常感谢！！！
      .action
        button#share_weibo_btn.btn.btn-success(onclick='((function(s,d,e,r,l,p,t,z,c){var f="http://v.t.sina.com.cn/share/share.php?appkey=3020045345",u=z||d.location,p=["&url=",e(u),"&title=",e(t||d.title),"&source=",e(r),"&sourceUrl=",e(l),"&content=",c||"gb2312","&pic=",e(p||"")].join("");function a(){if(!window.open([f,p].join(""),"mb",["toolbar=0,status=0,resizable=1,width=440,height=430,left=",(s.width-440)/2,",top=",(s.height-430)/2].join("")))u.href=[f,p].join("");};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else a();})(screen,document,encodeURIComponent,"","","","分享来自CNode的话题：《Node.js实战》求188、189页内容","",""));') 分享到微博
  .panel
    .header
      span.col_fade 2 回复
    #reply1.cell.reply_area.reply_item(reply_id='53945339c3ee0b58208024f0')
      a#53945339c3ee0b58208024f0.anchor
      .author_content
        a.user_avatar(href='/user/xiaxiaokang')
          img(src='http://cnodegravatar.u.qiniudn.com/avatar/5c2dd4e24ba722c4bc5f10cc505328bd?size=48', title='xiaxiaokang')
        .user_info
          a.dark.reply_author(href='/user/xiaxiaokang')
            | xiaxiaokang
          a.reply_time(href='#53945339c3ee0b58208024f0') 1楼•2 小时前
        .user_action
          span
            // 
      .reply_content
        .markdown-text
          p 请问你是哪本实战？进口的还是国产的？
      .clearfix
        .reply2_area
    #reply2.cell.reply_area.reply_item(reply_id='53946622a087f4562072fb72')
      a#53946622a087f4562072fb72.anchor
      .author_content
        a.user_avatar(href='/user/szmtcjm')
          img(src='https://avatars.githubusercontent.com/u/2938650?', title='szmtcjm')
        .user_info
          a.dark.reply_author(href='/user/szmtcjm')
            | szmtcjm
          a.reply_time(href='#53946622a087f4562072fb72') 2楼•1 小时前
        .user_action
          span
            // 
      .reply_content
        .markdown-text
          p 国产的
      .clearfix
        .reply2_area
