doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet", href="/styles/cnode.css")
    link(rel="stylesheet", href="/styles/alertify.core.css")
    link(rel="stylesheet", href="/styles/alertify.default.css")

    block styles

      style.
        .form-actions:before,
        .form-actions:after { display: none !important; }
        #responsive-sidebar-trigger { display: none !important; }
        .nav.pull-right { float: right !important; clear: none !important; }
        input[readonly] { background-color: #f7f7f7; }
        #main { margin-bottom: 40px; }

    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript", src="/js/alertify.min.js")
    script(type="text/javascript", src="/js/jquery.cookie.js")
    script(type="text/javascript", src="/js/alertmsg.js")

  body

    .navbar
      .navbar-inner
        .container
          ul.nav
            li
              a(href='/') 赏金猎人
          ul.nav.pull-right
            li
              a(href='/login') 登录
          a#responsive-sidebar-trigger.btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar

    #main
      #sidebar
        .panel
          .header
            span.col_fade 个人信息
          .inner
            .user_card
              div
                a.user_avatar(href='/user/fritx')
                  img(src='https://avatars.githubusercontent.com/u/6647633?', title='fritx')
                span.user_name
                  a.dark(href='/user/fritx') fritx
                .board.clearfix
                  .floor
                    a(href='/user/fritx/collections')
                      span.big 3
                      | 话题收藏
                  .floor
                    a(href='/user/fritx/following')
                      span.big 4
                      | 关注
                    .space
                    a(href='/user/fritx/follower')
                      span.big 0
                      | 粉丝
                    .space
                    span.big 60
                    | 积分

        .panel
          .header
            span.col_fade 闲置任务
          .inner
            ul
              li
                a(href='/topic/5371f3006c25575b3b011799', title='【推荐阅读】在PayPal改善Node.js的SSL的性能') 【推荐阅读】在PayPal改善Node.js的SSL的性能
              li
                a(href='/topic/5371792e4bc6e1af3703dae1', title='Lynda. Node.js Essential Training 别看书了,来个视频教程吧') Lynda. Node.js Essential Training 别看书了,来个视频教程吧
              li
                a(href='/topic/5370d52e98a656472a07c172', title='新人请教个node上传的问题') 新人请教个node上传的问题
              li
                a(href='/topic/5370c65c160e1cbc2b00c7f6', title='最近做的一个爬虫，功能比较全面') 最近做的一个爬虫，功能比较全面
              li
                a(href='/topic/5370859c1c0729ee1f00b968', title='【推荐阅读】 快乐Node码农的十个习惯') 【推荐阅读】 快乐Node码农的十个习惯
        .panel
          .header
            span.col_fade 排行榜 TOP 10
          .inner
            ol
              li
                span.top_score 6375
                span.user_name
                  a(href='/user/jiyinyiyong') jiyinyiyong
              li
                span.top_score 2795
                span.user_name
                  a(href='/user/youxiachai') youxiachai
              li
                span.top_score 2610
                span.user_name
                  a(href='/user/leapon') leapon
              li
                span.top_score 2235
                span.user_name
                  a(href='/user/a272121742') a272121742
              li
                span.top_score 2160
                span.user_name
                  a(href='/user/leizongmin') leizongmin
              li
                span.top_score 2140
                span.user_name
                  a(href='/user/suqian') suqian
              li
                span.top_score 1695
                span.user_name
                  a(href='/user/panawang') panawang
              li
                span.top_score 1340
                span.user_name
                  a(href='/user/saighost') saighost
              li
                span.top_score 1325
                span.user_name
                  a(href='/user/yakczh') yakczh
              li
                span.top_score 1300
                span.user_name
                  a(href='/user/snoopy') snoopy


      #content
        block body

    // A few key dependencies, linked in order

    // Bring in the socket.io client
    script(type="text/javascript", src="/js/socket.io.js")

    // then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/js/sails.io.js")

    // listen on socket.io for incoming messages
    script(type="text/javascript", src="/js/app.js")