h3 测试post添加
form(method='post', action='/task')
    label title
    input(type='text', name='title')
    br
    label descp
    input(type='textarea', name='descp')
    br
    button(type='submit') 提交

h3 test form method put
form(formmethod='put', action='/task/14')
    label title
    input(type='text', name='title')
    br
    label descp
    input(type='textarea', name='descp')
    br
    button(type='submit') submit

h3 test form method delete
form(formmethod='delete', action='/task/14')
    button(type='submit') submit

