h3 测试post添加
form(method='post', action='/task')
    label title
    input(type='text', name='title')
    br
    label descp
    input(type='textarea', name='descp')
    br
    button(type='submit') 提交

h3 test form method put
form(method='post', action='/task/16')
    label title
    input(type='text', name='title')
    br
    label descp
    input(type='textarea', name='descp')
    br
    input(type='hidden', name='_method', value='put')
    button(type='submit') submit

h3 test form method delete
form(method='post', action='/task/15')
    input(type='hidden', name='_method', value='delete')
    button(type='submit') submit

