h3 测试post添加
form(method='post', action='/task')
    label title
    input(type='text', name='title')
    br
    label descp
    input(type='textarea', name='descp')
    br
    button(type='submit') 提交

h3 测试put更新
form(formmethod='put', action='/task/13')
    label title
    input(type='text', name='title')
    br
    label descp
    input(type='textarea', name='descp')
    br
    button(type='submit') 提交

h3 测试delete删除
form(formmethod='delete', action='/task/destroy/13')
    label title
    input(type='text', name='title')
    br
    label descp
    input(type='textarea', name='descp')
    br
    button(type='submit') 提交

