extends ../layout

block body
  .panel
    .header
      select
        option 全部任务
        option 闲置任务
        option 我接受的任务
        option 我发起的任务
    .inner.no-padding
      #topic_list
        .cell
          a.user_avatar.pull-left(href='/user/suqian')
            img(src='http://cnodegravatar.u.qiniudn.com/avatar/95b9d41231617a05ced5604d242c9670?s=48', title='suqian')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 38
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 5697
          a.last_time.pull-right(href='/topic/53473dde502e5602740078bc#537b1f85d6e2d1614975e5be')
            img.user_small_avatar(src='http://cnodegravatar.u.qiniudn.com/avatar/c1a88e13b70b80a4ad50db977afc8419?s=48')
            span.last_active_time 6 小时前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              span.put_top 置顶
              | 杭JS - 2014 JavaScript中国开发者大会: 2014-6-21 ~ 22
        .cell
          a.user_avatar.pull-left(href='/user/lcjnil')
            img(src='https://avatars.githubusercontent.com/u/5821684?', title='lcjnil')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 0
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 1
          span.last_time.pull-right
            span.last_active_time 14 秒前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | 关于session的问题咨询一下
        .cell
          a.user_avatar.pull-left(href='/user/klk')
            img(src='https://avatars.githubusercontent.com/u/3947944?', title='klk')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 3
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 113
          a.last_time.pull-right(href='/topic/537ae7c7d6e2d161496adc92#537b78b1c3ee0b582002a154')
            img.user_small_avatar(src='https://avatars.githubusercontent.com/u/6498477?')
            span.last_active_time 30 分钟前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | mongoose怎么分段查询
        .cell
          a.user_avatar.pull-left(href='/user/ibmdavid')
            img(src='https://avatars.githubusercontent.com/u/7485123?', title='ibmdavid')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 2
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 439
          a.last_time.pull-right(href='/topic/5367288ffd60644a2e0020b9#537b787dc3ee0b58200297fd')
            img.user_small_avatar(src='https://avatars.githubusercontent.com/u/7137186?')
            span.last_active_time 31 分钟前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | IBM招聘Web应用开发实习生
        .cell
          a.user_avatar.pull-left(href='/user/feikeq')
            img(src='http://cnodegravatar.u.qiniudn.com/avatar/2c44e123f86bd74309ac21fd0d481422?size=48', title='feikeq')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 11
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 778
          a.last_time.pull-right(href='/topic/5369fa2882de1fd822008fce#537b7863c3ee0b5820029358')
            img.user_small_avatar(src='https://avatars.githubusercontent.com/u/7137186?')
            span.last_active_time 31 分钟前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | 把Node.js 入门教学看完了，但还是不知接下来要做什么。。。
        .cell
          a.user_avatar.pull-left(href='/user/freew01f')
            img(src='https://avatars.githubusercontent.com/u/4323659?', title='freew01f')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 1
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 262
          a.last_time.pull-right(href='/topic/5371792e4bc6e1af3703dae1#537b7851a087f456200277ad')
            img.user_small_avatar(src='https://avatars.githubusercontent.com/u/7137186?')
            span.last_active_time 31 分钟前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | Lynda. Node.js Essential Training 别看书了,来个视频教程吧
        .cell
          a.user_avatar.pull-left(href='/user/kingapple')
            img(src='https://avatars.githubusercontent.com/u/6572403?', title='kingapple')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 8
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 149
          a.last_time.pull-right(href='/topic/537ac739cbcc3963496ab42d#537b77efa087f45620026671')
            img.user_small_avatar(src='https://avatars.githubusercontent.com/u/6647633?')
            span.last_active_time 33 分钟前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | 亲们，你们在用哪个版本的JQuery呢？
        .cell
          a.user_avatar.pull-left(href='/user/jintaolee')
            img(src='https://avatars.githubusercontent.com/u/6118839?', title='jintaolee')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 3
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 142
          a.last_time.pull-right(href='/topic/537a0dc6cbcc396349492734#537b7698c3ee0b5820023f0f')
            img.user_small_avatar(src='http://cnodegravatar.u.qiniudn.com/avatar/c062c91b987ba164275c0d973b475f3d?s=48')
            span.last_active_time 39 分钟前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | 求助在digitalocean搭建nodejs环境，Nginx！！！
        .cell
          a.user_avatar.pull-left(href='/user/jysperm')
            img(src='http://cnodegravatar.u.qiniudn.com/avatar/efcc15b92617a95a09f514a9bff9e6c3?size=48', title='jysperm')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 2
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 35
          a.last_time.pull-right(href='/topic/537b5d7ecbcc396349878cad#537b72e8a087f45620018067')
            img.user_small_avatar(src='https://avatars.githubusercontent.com/u/1147375?')
            span.last_active_time 54 分钟前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | 自己写了一个中间件依赖注入工具 middleware-injector
        .cell
          a.user_avatar.pull-left(href='/user/fritx')
            img(src='https://avatars.githubusercontent.com/u/6647633?', title='fritx')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 0
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 21
          span.last_time.pull-right
            span.last_active_time 1 小时前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | 使用 silent命令行工具 + github静态空间 快速构建静态博客
        .cell
          a.user_avatar.pull-left(href='/user/tinshee')
            img(src='http://cnodegravatar.u.qiniudn.com/avatar/75477b6d5a4d7af6f3210f65b66743b4?size=48', title='tinshee')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 5
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 77
          a.last_time.pull-right(href='/topic/537b1112cbcc39634979723d#537b6d33a087f45620007ca6')
            img.user_small_avatar(src='https://avatars.githubusercontent.com/u/1147375?')
            span.last_active_time 1 小时前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | 关于请求失败，小白问个小白问题
        .cell
          a.user_avatar.pull-left(href='/user/fish')
            img(src='http://cnodegravatar.u.qiniudn.com/avatar/d24fc5b1c6b84dae95dd23ba1c7ebbcb?size=48', title='fish')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 1
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 28
          a.last_time.pull-right(href='/topic/537b47d1cbcc39634983b739#537b6cfea087f456200071ee')
            img.user_small_avatar(src='https://avatars.githubusercontent.com/u/1147375?')
            span.last_active_time 1 小时前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | NPM模块的TAG管理
        .cell
          a.user_avatar.pull-left(href='/user/yanyumiao')
            img(src='https://gravatar.com/avatar/ca910cb0a3764451d955368132de689b?d=https%3A%2F%2Fidenticons.github.com%2F0646dc95830c42efa36484d3d8dd5341.png&r=x', title='yanyumiao')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 12
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 1103
          a.last_time.pull-right(href='/topic/533ab18a5c5f55dd6b01ae67#537b6996cbcc39634989b969')
            img.user_small_avatar(src='https://gravatar.com/avatar/ca910cb0a3764451d955368132de689b?d=https%3A%2F%2Fidenticons.github.com%2F0646dc95830c42efa36484d3d8dd5341.png&r=x')
            span.last_active_time 1 小时前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | 使用Express v3.4.8 重写《Node.js开发指南》中的 microblog 项目
        .cell
          a.user_avatar.pull-left(href='/user/longxipinglq5')
            img(src='https://avatars.githubusercontent.com/u/606148?', title='longxipinglq5')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 1
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 52
          a.last_time.pull-right(href='/topic/537b5166cbcc396349856713#537b687ccbcc396349897ebe')
            img.user_small_avatar(src='https://avatars.githubusercontent.com/u/3362483?')
            span.last_active_time 1 小时前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | node.js与ArgularJS有啥关系
        .cell
          a.user_avatar.pull-left(href='/user/xiaoxingxing123')
            img(src='http://cnodegravatar.u.qiniudn.com/avatar/49f8aad248727d9d09e67e2398e4daca?size=48', title='xiaoxingxing123')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 11
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 1543
          a.last_time.pull-right(href='/topic/51597c3a5dff253b378c90bf#537b647ecbcc39634988c7cf')
            img.user_small_avatar(src='https://avatars.githubusercontent.com/u/1147375?')
            span.last_active_time 1 小时前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | 怎么在node中使用jquery?
        .cell
          a.user_avatar.pull-left(href='/user/jysperm')
            img(src='http://cnodegravatar.u.qiniudn.com/avatar/efcc15b92617a95a09f514a9bff9e6c3?size=48', title='jysperm')
          span.reply_count.pull-left
            span.count_of_replies(title='回复数')
              | 4
            span.count_seperator /
            span.count_of_visits(title='点击数')
              | 197
          a.last_time.pull-right(href='/topic/53788d18d6e2d16149ff5e81#537b6466d6e2d16149822956')
            img.user_small_avatar(src='https://avatars.githubusercontent.com/u/1147375?')
            span.last_active_time 1 小时前
          .topic_title_wrapper
            a.topic_title(href='?q=task/view')
              | 我发现 pm2 有一个严重的安全问题
      .pagination(current_page='1')
        ul
          li.disabled
            a «
          li.disabled.active
            a 1
          li
            a(href='/?page=2') 2
          li
            a(href='/?page=3') 3
          li
            a(href='/?page=4') 4
          li
            a(href='/?page=5') 5
          li
            a ...
          li
            a(href='/?page=183') »
      script.
        $(document).ready(function () {
          var $nav = $('.pagination');
          var current_page = $nav.attr('current_page');
          if (current_page) {
            $nav.find('li').each(function(){
              var $li = $(this);
              var $a = $li.find('a');
              if($a.html() == current_page){
                $li.addClass('active');
                $a.removeAttr('href');
              }
            });
          }
        });
