//
   Created by Administrator on 14-5-14.

extends ../layout

block body
  .panel
    .header
      ul.breadcrumb
        li
          a(href='/') 主页
          span.divider /
        li.active 设置
    .inner
      form#setting_form.form-horizontal(action='/modiInfo', method='post')
        .control-group
          label.control-label 学号
          .controls
            input.input-xlarge.readonly(name='username', size='30', type='text', readonly='true', value='')
        .control-group
          label.control-label 姓名
          .controls
            input.input-xlarge.readonly(name='name', size='30', type='text', readonly='true', value='')
        .control-group
          label.control-label 性别
          .controls
            input.input-xlarge.readonly(name='gender', size='30', type='text', readonly='true', value='')
        .control-group
          label.control-label 入学年份
          .controls
            input.input-xlarge.readonly(name='dataInSchool', size='30', type='text', readonly='true', value='')
        .control-group
          label.control-label 班级
          .controls
            input.input-xlarge.readonly(name='class', size='30', type='text', readonly='true', value='')
        .control-group
          label.control-label 宿舍号
          .controls
            input.input-xlarge(name='dormNo', size='30', type='text', readonly='true', value='')
        .control-group
          label.control-label 手机号码
          .controls
            input.input-xlarge(name='phone', size='30', type='text', value='')
        .control-group
          label.control-label 电子邮件
          .controls
            input.input-xlarge(name='email', size='30', type='text', value='')
        .form-actions
          input.btn(type='submit', value='保存设置')