//
   Created by Administrator on 14-4-26.

extend ../layout

block body
    .panel
      .header
        ul.breadcrumb
          li
            a(href='/') 主页
            span.divider /
          li.active 登录
      .inner
        form#signin_form.form-horizontal(action='/do/login', method='post')
          .control-group
            label.control-label 学号
            .controls
              input.input-xlarge(name='username', size='30', type='text', placeholder='学生服务子系统账号或管理员账号', required='required')
          .control-group
            label.control-label 密码
            .controls
              input.input-xlarge(name='password', size='30', type='password', placeholder='学生服务子系统密码或管理员密码', required='required')
          .control-group
            label.control-label 身份
            .controls
              label
                input.input-xlarge(checked, name='option', type='radio', value='user')
                | 用户
              label
                input.input-xlarge(name='option', type='radio', value='admin')
                | 管理员
          .form-actions
            input.btn(type='submit', value='登录')